body {
    background-image: url('../img/kali-red-sticker.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}
.card {
    background-color: rgba(228, 77, 17, 0.9);
    border-radius: 25px;
}
.text-center{
    background-color: rgb(36, 81, 163);
}
h1.text-center{
    color: rgb(17, 201, 146);
    
}